.Header {
  background-color: #282c34;
  min-height      : 6rem;
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
  color           : white;
}

.Header-title {
  font-size: xx-large;
}

.Line {
  border-left : 0.3rem solid white;
  min-height  : 3rem;
  margin-left : 1rem;
  margin-right: 1rem;
}

.Logo-container {
  align-items    : center;
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
}

#Vector {
  max-height  : 4rem;
  padding-left: 1rem;
}

/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style : normal;
  font-weight: 400;
  src        : local('Nunito Sans Regular'), local('NunitoSans-Regular'),
    url('../fonts/nunito-sans-v5-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nunito-sans-v5-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}