.scroller {
  height  : 60vh;
  overflow: auto;
}

#playlists-container {
  display       : flex;
  flex-direction: column;
}

#your-playlists {
  align-self    : flex-end;
  font-family   : 'Open Sans';
  font-size     : xx-large;
  letter-spacing: 1px;
}