#playlist-container {
  align-items    : flex-end;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  padding        : 0.2rem 1rem 0 1rem;
}

#playlist-art {
  border-radius: 0.5rem;
  filter       : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height       : 4.5rem;
  object-fit   : cover;
  width        : 4.5rem;
}

#playlist-title {
  display       : inline-block;
  font-family   : 'Open Sans';
  font-size     : xx-large;
  max-width     : 30rem;
  overflow      : hidden;
  padding       : 0 1.5rem 0 1.5rem;
  text-overflow : ellipsis;
  vertical-align: bottom;
  white-space   : nowrap;
}

#playlist-description {
  color      : grey;
  font-family: 'Open Sans';
  font-size  : x-large;
}

#playlist-link {
  color          : black;
  text-decoration: none;
}

#playlist-shuffle {
  align-self: center;
}

.ShuffleButton {
  font-size: large;
}

hr {
  border-top: 0.02rem solid grey;
}

@media (max-width: 1200px) {
  #playlist-container {
    padding: 0.15rem 0.7rem 0 0.7rem;
  }

  #playlist-art {
    border-radius: 0.4rem;
    height       : 4rem;
    width        : 4rem;
  }

  #playlist-title {
    font-size: x-large;
    max-width: 22rem;
    padding  : 0 1rem 0 1rem;
  }

  #playlist-description {
    font-size: large;
  }

  .ShuffleButton {
    border-radius: 1.8rem;
    font-size    : large;
    padding      : 0.85rem 1.5rem 0.85rem 1.5rem;
  }
}

@media (max-width: 1000px) {
  #playlist-title {
    max-width: 20rem;
  }
}

@media (max-width: 800px) {
  #playlist-container {
    padding: 0.1rem 0.3rem 0 0.3rem;
  }

  #playlist-art {
    border-radius: 0.35rem;
    height       : 3.5rem;
    width        : 3.5rem;
  }

  #playlist-title {
    font-size: large;
    max-width: 14rem;
    padding  : 0 0.5rem 0 0.5rem;
  }

  #playlist-description {
    font-size: medium;
  }

  .ShuffleButton {
    border-radius: 1.8rem;
    font-size    : medium;
    padding      : 0.7rem 1.2rem 0.7rem 1.2rem;
  }
}

@media (max-width: 600px) {
  #playlist-container {
    padding: 0.1rem 0.1rem 0 0.1rem;
  }

  #playlist-title {
    max-width: 8rem;
  }
}

@media (max-width: 600px) {
  #playlist-title {
    max-width: 6rem;
  }
}

@media (max-width: 500px) {
  .ShuffleButton {
    border-radius: 1.8rem;
    font-size    : small;
    padding      : 0.6rem 1.1rem 0.6rem 1.1em;
  }
}