#search-wrapper {
    display  : flex;
    flex-grow: 1;
    padding  : 0 5rem 0 0;
}

.search {
    background   : transparent;
    border       : 0;
    border-bottom: 1px solid #b6b6b6;
    font-family  : 'Inter';
    font-size    : large;
    height       : 2rem;
    outline      : 0;
    width        : 100%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color  : #b6b6b6;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b6b6b6;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b6b6b6;
}

@media (max-width: 800px) {
    #search-wrapper {
        padding: 0 2rem 0 0;
    }
}