#user-container {
    display       : flex;
    font-family   : 'Nunito Sans';
    font-size     : large;
    flex-direction: row;
}

#display-picture {
    border-radius    : 50%;
    -webkit-transform: scale(0.85);
    /* Saf3.1+, Chrome */
    -moz-transform   : scale(0.85);
    /* FF3.5+ */
    -ms-transform    : scale(0.85);
    /* IE9 */
    -o-transform     : scale(0.85);
    /* Opera 10.5+ */
    transform        : scale(0.85);
    padding          : 0 0.5rem 0 0.5rem;
}